*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}
.pub{
  position: absolute;
  top: 0;
  left: 0;
}
.titre{
  margin-top: 5%;
  text-align: center;
  text-transform: uppercase;
}
.persoG, .persoD{
  box-shadow: 0px 10px 20px black;
  padding: 10px;
}
/* @media only screen and (min-width: 1300px){ */
  .patchNotes{
    position: absolute;
    top: 1%;
    right: 1%;
    text-transform: uppercase;
    padding: 10px;
  }
/* } */
.patch-popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.patch-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btnfight{
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  /* position: absolute; */
  /* left: 50%;
  top: 50%; */
  width: 120px;
  height: 60px;
  /* margin-left: -60px;
  margin-top: -30px; */
  border-radius: 15px;
  color: white;
  background-color: #c0392b;
  border: 1px solid #000000;
  box-shadow: 0 0 10px #c0392b;
  animation-name: pulse; 
  animation-duration: 1s; 
  animation-iteration-count:infinite;
}
.btnautre{
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  width: 120px;
  height: 60px;
  border-radius: 15px;
  color: white;
  background-color: lightseagreen;
  border: 1px solid #000000;
  box-shadow: 0 0 10px lightseagreen;
  animation-name: pulse2; 
  animation-duration: 1s; 
  animation-iteration-count:infinite;
}
@keyframes pulse {
  0%{box-shadow:0px 0px 40px #c0392b;}
  50%{box-shadow:0px 0px 0px #FFFFFF;}
  100%{box-shadow:0px 0px 40px #c0392b;}
}
@keyframes pulse2 {
  0%{box-shadow:0px 0px 40px lightseagreen;}
  50%{box-shadow:0px 0px 0px #FFFFFF;}
  100%{box-shadow:0px 0px 40px lightseagreen;}
}
.btnfight:hover{
  cursor: pointer;
}
.container{
  max-width: 100vw;
  max-height: 90vh;
  margin: 5% 0 0 0;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.persoG{
  text-align: center;
}
.persoD{
  text-align: center;
}
img{
  max-height: 450px;
  max-width: 450px;
}
#skin2{
  transform: scaleX(-1);
}
/* barres de pv en combat */
.scorepv1{
  border: 2px solid black;
  box-shadow: 2px 3px 20px 8px black;
  padding: 20px;
  display: none;
  margin: 40px 0;
}
.scorepv2{
  border: 2px solid black;
  box-shadow: 2px 3px 20px 8px black;
  padding: 20px;
  display: none;
  margin: 40px 0;

}
.hero1, .hero2{
  width: 100%;
}


.mid{
  text-align: center;
}
h2{
  display: none;
}
@media only screen and (max-width: 1300px){
 .container{
   display: none;
 }
 h1{
   display: none;
 }
 h2{
   display: block;
   text-align: center;
 }
}
@media only screen and (min-width: 1400px){
  .container{
    margin: 5% 10% 0 10%;
  }
}

@media only screen and (max-width: 1300px){
  .patchNotes{
    position: absolute;
    top: 95vh;
    left: 1vw;
    text-transform: uppercase;
    padding: 10px;
    height: 30px;
  }
}
.animPn{
  animation-name: cligno; 
  animation-duration: 1s; 
  animation-iteration-count:infinite;
}
@keyframes cligno {
  0%{color: #FF0099;}
  50%{color: #493240;}
  100%{color: #FF0099;}
}
/*  font-family: 'Orbitron', sans-serif;
    font-family: 'Press Start 2P', cursive; */